
/* font family link miama */

 @import url('https://fonts.cdnfonts.com/css/miama?styles=170364,627');

                

  
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
              
.inter-font-family{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* share style  */
.display{
  display: flex;
  justify-content: space-between;
}
.all-area{
  width: 80%;
  margin: 0 auto;
}
.title-discription{
  color: rgba(255, 255, 255, 0.5);
}
.color{
   color: rgb(230, 83, 60);
}
.color1{
  color: rgb(250, 250, 249);
}
.btn-primary{
  padding: 17px 50px;
  background-color: rgb(230, 83, 60);
  border: none;
  border-radius: 30px;
}
.btn-primary2{
  padding: 17px 50px;
  color: rgb(255, 255, 255);
  background-color: black;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  margin-left: 20px;
}
.icon-under{
    color: rgba(239, 237, 232, 0.65);
}
.text-align{
  text-align: center;
}
.backround{
  background: rgb(0, 0, 0);
}
.color2{
  color: rgba(255, 255, 255, 0.4);
}
.position{
  position: relative;
}
/* header-area start */
#header-area{
  margin-bottom: 100px;
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.logo-and-manu{
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
}
.manu-area{
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}
.manu-area .list{
  width: 50px;
  border-radius: 30px;
  background: rgb(230, 83, 60);
}
.manu-area .items{
    padding: 8px 36px;
   
}
.manu-area .link{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  
}
/* banner-area start */
.title-image{
  width: 100%;
}
.title-area{
  width: 50%;
}
.image-area{
  width: 50%;
  text-align: center;
}
.banner-area{
  margin-top: 48px;
}
.banner-area .title{
  padding-right: 61px;
  text-align: left;

}
.banner-area .banner-title{
  font-size: 76px;
  font-weight: 900;
  line-height: 120%;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}
/* banner title */


.banner-shape{
  font-family: 'Miama', sans-serif;
  font-weight: 400;
  font-size: 146px;
                                                
}
.banner-discription{
  margin-bottom: 19px;
  font-size: 15px;
  line-height: 30px;

}
.image-area img{
  height: 520px;
}

/* .banner-area .watch-button1{
  width: 80px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
}
.banner-area .watch-button2{
  width: 80px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
} */
 /* ==========================
    About section start
 ===============================*/
 .about-main-content{
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 60px;
 }
 .about-title{
    padding-top: 20px;
    font-size: 46px;
    font-weight: 900;
    /* line-height: 150%; */
    margin-bottom: 18px;
 }
 .about-discription{
    font-size: 14px;
    font-weight: 400;
 }
 .img-box{ 
  display: flex;
  gap: 20px;
 }
 .img-box .picture{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
 .img-box img{
  border-radius: 50%;
 }
 .img-box .img-title{
  font-size: 16px;
  font-weight: 600;
  /* line-height: 160%; */
  margin-bottom: 10px;
}
.img-box .img-discription{
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
}
.about-area{
  margin-bottom: 90px;
}

/* about section second step start */
.second-step{
  background-color:rgb(34, 34, 34);
  border-radius: 18px;
  margin-bottom: 100px;
}
.second-title-image{
  display: flex;
  justify-content: space-between;
  gap: 150px;

}
.second-title-image img{
  width: 366px;
  border-radius: 18px;
  height: 312px;
}
.second-title-image .second-title{
  padding: 27px 0px 27px 54px;
}
.second-title-image .second-image{
  padding: 31px 32px 30px 0px ;
}
.second-step-title{
  font-size: 48px;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 1rem;
}
.second-step-discription{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
}
 /*about section third-step */
 .third-part{
    margin-bottom: 90px;
 }
 .third-step{
    max-width: 600px;
    margin: 0 auto;
  
 }
 .third-step-title{
    font-size: 48px;
    font-weight: 900;
    line-height: 130%;
 }
 .third-step-discription{
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
 }
 
 /*about section four-part start */
 .four-part{
  margin-bottom: 90px;
 }
 .bmi-calculator-chart{
    width: 40%;
 }
 .calculator-title{
    font-size: 28px;
    font-weight: 900;
    text-align: left;
    line-height: 55px;
    margin-bottom: 32px;
 }
 .calculate-your-bmi{
    width: 60%;
 }
 .bmi-calculator-chart tr,th,td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
 }
 .Calculator-table th{
    color:rgb(255, 255, 255) ;
    text-align: left;
    padding: 8px 15px 8px 15px;
 }
 .Calculator-table td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    padding: 8px 15px 8px 15px;
 }
 .calculator-bmi-title{
    font-size: 28px;
    font-weight: 900;
    text-align: left;
    line-height: 55px;
 }
.Calculator-discription{
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 25px;
}

 .two-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 11px;
  justify-content: center;
  align-items: center;
 }
 .input-box{
  width: 100%;
  padding: 12px 40px 12px 20px;
  text-align: left;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  font-weight: 400;
 }
.two-input-columns{
  margin-top: 10px;
  margin-bottom: 30px;
}
/* about section five-area start */
.five-part{
  margin-bottom: 90px;
}
.five-part-meet-your-team{
  max-width: 650px;
  margin: 0 auto;
}
.five-step-title{
  font-size: 48px;
  font-weight: 900;
  line-height: 66px;
}
.five-step-discription{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 60px;
}
.all-image{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.first-image-part{
  background-image:url("../images/trainer1.png");
  background-repeat: no-repeat;
  height: 315px;
  background-size: cover;
  border-radius: 18px;
}
.second-image-part{
  background-image: url("../images/trainer2.png");
  background-repeat: no-repeat;
  height: 315px;
  background-size: cover;
  border-radius: 18px;
}
.third-image-part{
  background-image: url("../images/trainer3.png");
  background-repeat: no-repeat;
  height: 315px;
  background-size: cover;
  border-radius: 18px;
}
.four-image-part{
  background-image: url("../images/trainer4.png");
  background-repeat: no-repeat;
  height: 315px;
  background-size: cover;
  border-radius: 18px;
}
.five-image-part{
  background-image: url("../images/trainer5.png");
  background-repeat: no-repeat;
  height: 315px;
  background-size: cover;
  border-radius: 18px;
}
.six-image-part{
  background-image: url("../images/trainer6.png");
  background-repeat: no-repeat;
  height: 315px;
  background-size: cover;
  border-radius: 18px;
}
.text-image{
  position: absolute;
  left: 20px;
  top: 82%;
}
/* ===============================
    footer section start
==================================*/
.footer-area{
  margin-bottom: 30px;
}
.footer-area-two-part{
  width: 100%;
  display: flex;
  gap: 50px;
}
.footer-first-step{
  width: 50%;
  padding: 0 70px 32px 0px;
}
.footer-area-title-discription{
  padding: 0 70px 32px 0px;
}
.footer-second-step{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.footer-area-title{
  text-align: left;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
}
.footer-area-discription{
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.footer-area-contact-title{
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
}
.footer-second-step .list{
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.footer-second-step .list-link{
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.footer-second-step li:hover a{
  position: relative;
    color: palegoldenrod;
    text-decoration: underline;
    left: 20px;
}
hr{
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.footer-last-part .personal{
  font-size: 17px;
  font-weight: 400;
  line-height: 70px;
  text-align: center;
}